## Pandas challenges 

- This document summarizes some of the tricky exercises from [Pandas course from Kaggle](https://www.kaggle.com/learn/pandas).
- You can download data required for the following exercises through [Kaggle API](https://github.com/Kaggle/kaggle-api)

In [1]:
# download sample data
!kaggle datasets download --path ./data_files --unzip zynicide/wine-reviews

Downloading wine-reviews.zip to ./data_files
100%|██████████████████████████████████████| 50.9M/50.9M [00:09<00:00, 6.06MB/s]

In [1]:
# load dataset 
import pandas as pd

reviews = pd.read_csv('./data_files/winemag-data-130k-v2.csv', index_col=0)
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

**Exercise 1**: Which wine has the highest points-to-price ratio in the dataset? (`title` should be displayed)

In [15]:
reviews.loc[(reviews.points / reviews.price).idxmax()].title

'Bandit NV Merlot (California)'

**Exercise 2**: Is a wine more likely to be "tropical" or "fruity"? Create a `series` counting how many times each of the these two words appears in the `description` column. Create a series with each words and its corresponding counts.

In [26]:
pd.Series([
    reviews.description.str.contains('tropical').value_counts()[True], 
    reviews.description.str.contains('fruity').value_counts()[True]
    ], index=['tropical', 'fruity'])

tropical    3607
fruity      9090
dtype: int64

**Exercise 3**: Create a `Series` whose index consists of strings of the form `"<Country> - <Wine Variety>"`. The values should be counts of how many times the given wine appears in the dataset

In [40]:
df = reviews.loc[(reviews.country.notnull()) & (reviews.variety.notnull())]
df.apply(lambda x : x.country + ' - ' + x.variety, axis='columns').value_counts().head()

US - Pinot Noir                      9885
US - Cabernet Sauvignon              7315
US - Chardonnay                      6801
France - Bordeaux-style Red Blend    4725
Italy - Red Blend                    3624
dtype: int64

**Exercise 4**: Create a `Series` whose indexes are wine prices and whose values are the maximun number of points. Sort the values by price, ascending.

In [41]:
reviews.groupby('price').points.max().sort_index(ascending=True).head()

price
4.0    86
5.0    87
6.0    88
7.0    91
8.0    91
Name: points, dtype: int64

**Exercise 5**: What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` and whose values are the `min` and `max` prices. Sort in descending order based on `min` first, `max` second.

In [46]:
reviews.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False).head()

                    min    max
variety
Ramisco           495.0  495.0
Terrantez         236.0  236.0
Francisa          160.0  160.0
Rosenmuskateller  150.0  150.0
Tinta Negra Mole  112.0  112.0

**Exercise 6**: Rename `region_1` and `region_2` columns to `region` and `locale`

In [53]:
reviews.rename(columns={'region_1':'region', 'region_2':'locale'}, inplace=True)
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region', 'locale', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')